# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
hysgen_main

# Program output files
*_cmtyvv_init.txt
*_cmty_ById_values.txt
*_cmty_ById_members.txt
*_cmty_values.txt
*_cmty_members.txt
